#tabuleiro div {
    background-color: "#FFFACD";
    width: 500px;
    height: 500px;
    position: absolute;
}

#proxima-peca div {
    background-color: orange;
    width: 24px;
    height: 24px;
    position: relative;
    left: 4px;
}